package main

import (
	api "github.com/dmitrys99/refimpl/api"
	drv "github.com/dmitrys99/refimpl/driver"
	"net/http"
	"time"
)

func main() {
	webapi := New{{ pascalize .Name}}API()
	
	srv := NewServer(webapi)
	
	if err := srv.ListenAndServe(); err != nil {
		panic(err)
	}
}
